# Бинарные файлы
*.exe
*.exe~
*.out
*.test

# Временные файлы
*.log
*.tmp

# Директории с зависимостями
vendor/

# Файлы среды разработки
.env
.idea/
*.iml


# Временные файлы IDE
*.swp
*.swo

# Отчеты о тестах
test_reports/
